---
import NavDrawer from "@/components/NavDrawer";
import "../styles/global.css";

const { projects } = Astro.props;

const projectParam = Astro.url.searchParams.get("project");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <NavDrawer client:load projects={projects} projectParam={projectParam} />
    <slot />
  </body>
</html>
