---
import NavDrawer from "@/components/NavDrawer";
import "../styles/global.css";
import ProjectInfoDrawer from "@/components/ProjectInfoDrawer";

const { projects } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <NavDrawer client:load projects={projects}  />
    <ProjectInfoDrawer client:load projects={projects} includeTrigger  />
    <slot />
  </body>
</html>
